
<!DOCTYPE html>

<html>
<head>
  <title>Beego</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <h1 class="logo">欢迎来到控制器</h1>
    <div class="description">
        <form action="http://127.0.0.1:8080/admin/user" method="post" enctype="multipart/form-data">
            <label>用户名:<input type="text" name="user" /></label>
            <label>密码：<input type="text" name="pwd"></label>
            <label>头像: <input type="file" multiple="multiple" name="avater"></label>
            <input type="submit" name="sbt">
        </form>
    </div>

</body>
</html>
