
<!DOCTYPE HTML>
<html>
<!-- Head -->
<head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>80度文化传媒</title>

    <meta name="description" content="80度文化传媒" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
   
    <link rel="shortcut icon" href="/static/img/logo_2.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="/static/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/demo.min.css" rel="stylesheet" />
    <link href="/static/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet" />
	<link href="/static/css/main.css" rel="stylesheet" />
	
    <link href="/static/css/animate.min.css" rel="stylesheet" />
	<link href="/static/js/zw/webuploader.css" rel="stylesheet" />
	<link href="/static/css/mapStyle.css" rel="stylesheet" />
    <link href="/static/css/jquery.searchableSelect.css" rel="stylesheet"/><!--搜索框下拉菜单搜索框插件-->
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
	<script>
		<!-- if (!document.addEventListener) { -->
			<!-- // IE6~IE8 -->
			
		<!-- } -->
		<!-- document.write('<script src="/static/lan_js/ieBetter.js"></script>');	 -->
	</script>
	<script src="/static/lan_js/ieBetter.js"></script>


	<script src="/static/js/jquery-2.0.3.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>


	<script  src="/static/js/jquery.dataTables.min.js"></script>

	<!-- <script src="/static/js/acesidebar.js"></script> -->
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script  src="/static/js/skins.min.js"></script>
	<script  src="/static/js/url.js"></script>
	<script  src="/static/js/chosen/chosen.jquery.min.js"></script>
	<script  src="/static/js/datatable/datatables-init.js"></script>
	<!-- <script src="/static/js/zw/laydate.js"></script> -->
	<!-- <script src="/static/js/datatables.js"></script> -->
	<script  src="/static/js/zw/layer.js"></script>
	<!-- 封装的table -->
	<script  src="/static/js/constant.js"></script>
	<script  src="/static/js/zw/jquery.validate.min.js"></script>
	<script  src="/static/jqform/jquery.form.js"></script>
	<script  src="/static/js/zw/jQueryValidate.js"></script>
	<script  src="/static/js/zw/toastr.min.js"></script>
	<!-- <script src="/static/js/bootstrap-datepicker.js"></script> -->
	<link href="/static/fullcalendar/common.css" rel="stylesheet" />

	<script  src="/static/js/zw/tg_common.js"></script>
	<script  src="/static/js/zw/tg_util.js"></script>
	<!-- <script src="/static/js/zw/webuploader.js"></script> -->
	<script  type="text/javascript" src="/static/lan_js/menu.js"></script>



<body>
	<!-- Loading Container -->
	<div class="loading-container">
		<div class="loading-progress">
			<div class="rotator">
				<div class="rotator">
					<div class="rotator colored">
						<div class="rotator">
							<div class="rotator colored">
								<div class="rotator colored"></div>
								<div class="rotator"></div>
							</div>
							<div class="rotator colored"></div>
						</div>
						<div class="rotator"></div>
					</div>
					<div class="rotator"></div>
				</div>
				<div class="rotator"></div>
			</div>
			<div class="rotator"></div>
		</div>
	</div>
	<!--  /Loading Container -->
	